@import url("_theme.css");

* {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-50);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav:first-child {
    font-size: 1.5rem;
    color: var(--white);
}

nav:first-child h1 {
    font-weight: 600;
}

nav:first-child h1 span {
    font-size: 1.5rem;
    font-family: var(--flex-font);
    font-weight: normal;
}

section h1 {
    color: var(--grey-800);
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem;
}

nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

nav form {
    display: flex;
    justify-content: center;
    width: 50%;
}

input {
    width: 70%;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    padding: 12px 40px;
    padding-left: 10px;
    border: none;
}

button {
    background-color: var(--accent-color);
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    padding: 12px 40px;
    color: var(--white);
    border: none;
}

.icono-fondo {
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    border-radius: 50px;
    padding: 5px;
}

#icono {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 5px;
}

section div div img {
    height: 200px;
    width: 220px;
    object-fit: cover;
    border-bottom: none;
    display: flex;
    border-radius: 10% 10% 0 0;
}

section div div h3 {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    font-size: 1rem;
    padding: 10% 0 5% 5%;
    color: var(--grey-950);
    font-weight: 500;
}

section h1 {
    color: var(--grey-950);
    font-weight: 600;
    margin-left: 2%;
}

.informacion-usuario {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0px 20px 20px 20px;
    justify-items: center;
}

.informacion-usuario div {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10% 10% 10% 10%;
    transition: transform 1s;
}

footer {
    margin-top: auto;
    width: 100%;
}

footer p {
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: var(--grey-200);
    text-align: center;
    border-top: 2px solid var(--grey-200);
    padding: 30px;
    margin-top: auto;
}

header nav a h1 {
    color: var(--white);
}

p {
    font-size: 1.25rem;
    margin: 0;
    padding: 5px 0;
}

section[class] div:first-child {
    background-color: var(--main-color);
    padding: 0 8px 0 0;
}

section[class] div:first-child img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 80px;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.margen {
    display: flex;
    padding: 40px;
    width: 70%;
    flex-direction: column;
    gap: 20px;
}

section[class] {
     margin: 0 0 auto 0;
}

section[class] h1 {
    color: var(--main-color);
    font-size: 3rem;
    margin: 0;
}

section[class] a {
    color: var(--main-color);
    font-size: 1.25rem;
}

.letra-cursiva {
    font-family: var(--flex-font);
    font-style: italic;
    font-size: 1.25rem;
}

a:hover {
    color: var(--accent-color);
}

#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.25rem;
}

.item-perfil {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: start;
}

.negrita {
    font-weight: bold;
}


.main-color {
    color: var(--main-color);
}

.ficha-usuario {
    display: flex;
    box-shadow: 10px 10px 20px var(--grey-200);
    width: 100%;
    background-color: var(--white);
}

.informacion-usuario div:hover {
    transform: scale(1.10) rotate(3deg);
}

.informacion-usuario div:hover {
    background-color: var(--accent-color);
}

.solo-movil {
    display: none;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.solo-movil img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.imagen-pequeña {
    display: none;
}

.imagen-grande {
    display: block;
}

.mensaje-vacio {
    text-align: center;
    margin: 50px auto;
    font-size: 1.25rem;
    color: var(--accent-color);
    font-weight: 450;
}

.mensaje-vacio strong {
    font-weight: bold;
    color: var(--accent-color);
}

@media (min-width: 320px) and (max-width: 480px) {
    .ficha-usuario {
        flex-direction: column;
    }

    .imagen-pequeña {
        display: block;
    }

    .imagen-grande {
        display: none;
    }

    nav form {
        display: none;
    }

    nav div {
        display: none;
    }

    .solo-movil {
        display: block;
    }

    nav:first-child h1 {
        font-size: 1.5rem;
    }

    nav:first-child h1 span {
        font-size: 0.75rem;
    }

    nav {
        padding: 0.25rem 1rem;
    }

    section[class] h1 {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .margen {
        padding: 20px 30px;
        width: 100%;
        gap: 10px;
    }

    .letra-cursiva {
        font-size: 0.75rem;
        margin-right: 5px;
    }

    #lista {
        gap: 10px;
        font-size: 0.75rem;
    }

    .item-perfil {
        grid-template-columns: 1fr 1fr;
    }

    p {
        font-size: 0.75rem;
    }

    section[class] a {
        font-size: 0.75rem;
    }

    footer p {
        padding: 25px 10px;
        margin-top: 20px;
    }

    section h1 {
        font-size: 1.5rem;
        margin-left: 20px;
    }


    .informacion-usuario {
        justify-content: center;
    }

    section[class] div:first-child{
        padding: 0 0 8px 0;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .imagen-pequeña {
        display: block;
    }

    .imagen-grande {
        display: none;
    }
}